/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ff8774;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fa6149;
  border: .05rem solid #fa6149;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #1d2b53;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fa6149;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 45em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: #fa6149;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  font-size: 1.5rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #fa6149;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fa6149;
  border-bottom-color: #fa6149;
}

.nav-link {
  font-family: 'Bebas Neue', sans-serif;
}

#jam-countdown {
  font-weight: 600 !important;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-heading {
  font-family: 'Bebas Neue', sans-serif;
  color: #fa6149;
  font-size: 3.5rem;
  text-shadow: 2px 2px black;
}

.lead {
  color: #fa6149;
  font-weight: 400;
}


/*
 * Footer
 */
.mastfoot {
  color: #fa6149;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-foreground {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
}

/*
 * Mobile version
 */


 @media (max-width: 720px) {
   .cover-heading {
     font-size: 2.25rem;
   }

   .lead {
     font-size: 1rem;
   }

  .mastfoot {
    font-size: 0.75rem;
  }

  .btn-secondary {
    padding: 0.25em 0.5em 0.25em 0.5em !important;
  }
 }
